h1, h2, h3, h4{
    margin: 0;
}
ul, p{
    margin: 0;
    padding: 0;
}
hr{
    margin: 5px;
}
ul{
    list-style: none;
}
html, body, #root{
    width: 100%;
    height: 100%;
}
.marzipano-wrapper{
    text-align: left;
    width: 800px;
    margin: 0 auto;
}
.marzipano-box{
    height: 500px;
    position: relative;
}
.marzipano{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* signs */
.hotspot{
    text-align: center;
    color: #ffffff;
    transition: background 0.2s;
    cursor: pointer;
}
.hotspot:hover{
    background: rgba(250, 250, 250, 0.2);
}
.in-sale{
    border: 1.5px solid lime;
}
.sales{
    border: 1.5px solid red;
}
.sales span{
    display: inline-block;
    transform: rotate(90deg);
    font-size: 1.5rem;
}
img{
    display: block;
    width: 100%;
}
/* Modal*/
.modal-window{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.2s, visibility 0.2s;
}
.modal-show{
    opacity: 1;
    visibility: visible;
}
.modal-hide{
    opacity: 0;
    visibility: hidden;
}
.modal-wrapper{
    position: relative;
    width: 500px;
    background: white;
    display: flex;
    padding: 10px 25px 45px 25px;
    flex-direction: column;
    justify-content: space-around;
}
.modal-btn_close{
    position: absolute;
    right: 0%;
    top: 0;
    line-height: 32px;
    height: 32px;
    width: 32px;
    text-align: center;
}
.modal-window-header{
    line-height: 32px;
    height: 32px;
    border-bottom: 1px solid black;
}
i.modal-header-btn_cancel{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: #fff;
    text-align: center;
    transition: background 0.2s;
}
i.modal-header-btn_cancel:after{
    content: '+';
    transform: rotate(45deg);
    text-transform: none;
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    text-align: center;
}
i.modal-header-btn_cancel:hover{
    background: #cfcfcf;
}

.modal-window-header h4{
    font-size: 1.1rem;
}
.modal-window-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-window-card{
    width: 65%;
    align-self: stretch;
}

.modal-body-goods_header{
    padding: 0 7px;
}
.modal-body-goods_header h4{
    font-size: 1.2rem;
    margin: 5px 0;
}
.modal-body-goods_header p{
    font-size: 0.9rem;
    margin-top: 5px;
}
.modal-body-goods_body p{
    margin-top: 5px;
}
.modal-body-goods_header ul li{
    display: flex;
    justify-content: space-between;
}
.modal-window-image{
    width: 35%;
}
.modal-window-image_canvas{
    width: 200px;
}
.modal-body-goods_body{
    font-size: 1.2rem;
}
.modal-body-goods_footer{
    font-size: 0.9rem;
}
.modal-window-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px 5px 10px;
    border-top: 1px solid black;
}

.modal-footer-buy_info{
    font-size: 0.9rem;
}
img.modal-background{
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* ^^ Modal ^^ */